<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ProjectSC.cart.mapper.CartMapper">
 	<insert id="insertProduct" parameterType="Map">
 		INSERT INTO
 			`cart`
 			(
 				`userId`
 				, `productId`
 				, `qty`
 				, `createdAt`
 				, `updatedAt`
 			)
 			VALUES
 			(
 				#{userId}
 				, #{productId}
 				, #{qty}
 				, NOW()
 				, NOW()
 			)
 	</insert>
 	<select id="selectCartList" parameterType="int" resultType="com.ProjectSC.cart.domain.Cart">
 		SELECT
 			`userId`
 			, `productId`
 			, `qty`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`cart`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY
 			`createdAt`
 		DESC
 	</select>
 	<select id="selectCartProduct" parameterType="Map" resultType="com.ProjectSC.cart.domain.Cart">
 		SELECT
 			`userId`
 			, `productId`
 			, `qty`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`cart`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`productId` = #{productId}
 	</select>
 	<update id="updateProduct" parameterType="com.ProjectSC.cart.domain.Cart">
 		UPDATE
 			`cart`
 		SET
 			`qty` = #{qty}
 			, `updatedAt` = NOW()
 		WHERE
 			`userId` = #{userId}
 			AND
 			`productId` = #{productId}
 	</update>
 	<delete id="deleteProduct" parameterType="Map">
 		DELETE
 		FROM
 			`cart`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`productId` = #{productId}
 	</delete>
 </mapper>