<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ProjectSC.product.mapper.ProductMapper">
 	<select id="selectAllProductList" resultType="com.ProjectSC.product.domain.ProductInfo">
 		SELECT
 			`id`
 			, `sellerId`
 			, `category`
 			, `subCategory`
 			, `name`
 			, `price`
 			, `discount`
 			, `finalPrice`
 			, `deliveryType`
 			, `imagePath`
 		FROM
 			`product`
 	</select>
 	<select id="selectProductListByCategory" parameterType="int" resultType="com.ProjectSC.product.domain.ProductInfo">
 		SELECT
 			`id`
 			, `sellerId`
 			, `category`
 			, `subCategory`
 			, `name`
 			, `price`
 			, `discount`
 			, `finalPrice`
 			, `deliveryType`
 			, `imagePath`
 		FROM
 			`product`
 		WHERE
 			`category` = #{category}
 	</select>
 	<select id="selectProductListByCategoryAndSubCategory" parameterType="map" resultType="com.ProjectSC.product.domain.ProductInfo">
 		SELECT
 			`id`
 			, `sellerId`
 			, `category`
 			, `subCategory`
 			, `name`
 			, `price`
 			, `discount`
 			, `finalPrice`
 			, `deliveryType`
 			, `imagePath`
 		FROM
 			`product`
 		WHERE
 			`category` = #{category}
 			AND
 			`subCategory` = #{subCategory}
 	</select>
 	<select id="selectProductById" parameterType="int" resultType="com.ProjectSC.product.domain.Product">
 		SELECT
 			`id`
 			, `sellerId`
 			, `category`
 			, `subCategory`
 			, `name`
 			, `price`
 			, `discount`
 			, `finalPrice`
 			, `deliveryType`
 			, `imagePath`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`product`
 		WHERE
 			`id` = #{id}
 	</select>
 	<select id="selectProductInfoByProductId" parameterType="int" resultType="com.ProjectSC.product.domain.ProductInfo">
 		SELECT
 			`id`
 			, `sellerId`
 			, `category`
 			, `subCategory`
 			, `name`
 			, `price`
 			, `discount`
 			, `finalPrice`
 			, `deliveryType`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`product`
 		WHERE
 			`id` = #{id}
 	</select>
 	<insert id="insertProduct" parameterType="com.ProjectSC.product.domain.Product">
 		INSERT INTO
 			`product`
 			(
 				`sellerId`
 				, `category`
 				, `subCategory`
 				, `name`
 				, `price`
 				, `discount`
 				, `finalPrice`
 				, `deliveryType`
 				, `imagePath`
 				, `createdAt`
 				, `updatedAt`
 			)
 			VALUES
 			(
 				#{sellerId}
 				, #{category}
 				, #{subCategory}
 				, #{name}
 				, #{price}
 				, #{discount}
 				, #{finalPrice}
 				, #{deliveryType}
 				, #{imagePath}
 				, NOW()
 				, NOW()
 			)
 	</insert>
 </mapper>